

.ProductListings .product {
  flex-basis: 31.5%;
}

.searchArea{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  position: relative;
}
.searchArea h2{
  margin: 0;
}
.searchArea input{
  width: 20%;
  position: absolute;
  right: 0;
  height: 25px;
}
#searchSuggestions{
  position: absolute;
  right: 0;
  top: 25px;
  border: 1px solid black;
  width: 20%;
}


