.ProductListings {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

.ProductListings .product {
  flex-basis: 31.5%;
  margin-right: 1.8%;
}

.searchArea{
  display: flex;
  justify-content: space-between;

  margin-bottom: 1em;
}
.searchArea h2{
  margin: 0;
}
.searchArea input{
  width: 20%;
}
#loading-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;

  margin: 0 auto;

  border: 10px solid lightgrey;
  border-top: 10px solid blue;

  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
